root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  args_bin = []
  bin = "./tmp/main"
  cmd = "go build -buildvcs=false -o ./tmp/main ./cmd"
  delay = 1000
  exclude_dir = [
      "assets", 
      "tmp", 
      "vendor", 
      "testdata", 
      "internal/db/postgres/migrations", 
      "sqlc"
  ]
  exclude_file = []
  exclude_regex = ["_test.go"]
  include_dir = ["."]
  include_ext = ["go", "tpl", "tmpl", "html", "env"]
  kill_delay = "0s"
  log = "build-errors.log"
  rerun_delay = 500
  stop_on_error = false

[color]
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  silent = false
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true
