services:
  postgres:
    image: postgres:16-alpine
    container_name: postgres-test
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: P@ssw0rd
      POSTGRES_DB: test
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis/redis-stack:latest
    container_name: redis-stack
    ports:
      - "6379:6379" # redis server
      - "8001:8001" # redis insight (ui)
    volumes:
      - redis-data:/data
    # ถ้ามี service api เพิ่มอันนี้ให้ก็ได้
    # restart: unless-stopped

volumes:
  postgres-data:
  redis-data:
